 .login-top { 
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
input {
  font-family: poppins;
}
.login-inner-top-left {
  background-color: rgb(132, 185, 238);
  flex: 3;
  padding: 7rem 3rem 3rem 3rem;
}
.login-inner-top-right {
  /* flex :6;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; */
  width: 100%; /* Adjust based on your layout (50% for equal split) */
  height: 100vh; /* Full viewport height */
  display: flex; /* Ensures content alignment */
  justify-content: center; /* Center horizontally if needed */
  align-items: center; /* Center vertically if needed */
  overflow: hidden;
  flex:6;
  background-color: rgb(218, 229, 239);

}

.login-input {
  border: none;
  border-bottom: 2px solid ;;
  
  padding: 5px;
  padding-left: 24px;
  font-weight: 500;
  width: 92%;
  font-size: medium;
  transition: 0.2s;
}
.login-input:active,
.login-input:focus,
.login-input:hover {
  outline: none;
  border-bottom-color: #3d5a80;
}
.login-field {
  padding: 20px 0px;
  position: relative;

}
.login-title {
  font-family: poppins;
  color: #3d5a80;
  font-size: 2.5rem;
}
.login-title-below {
  font-family: poppins;
  font-size: 3rem;
  font-weight: 600;
  color: #3d5a80;

}
.login-signup-call {
  font-family: poppins;
  font-size: 1rem;
  font-weight: 600;
  color: #fffcfc;
}
.login-signup-call a {
  color: #1a75f6;
  text-decoration: none;
}

.login-img {
  width: 100%;
  height:100vh;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  
} 




/* General Styles for the Login Page */
