.profile-button {
  /* paddingBlock: "0.5rem", paddingInline: "1rem"  */
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border: 1px solid black;
  transition: background-color 0.2s;
  font-family: poppins;
  cursor: pointer;
  margin-left: 0.5rem;
}
.profile-button:hover {
  background-color: #3d5a80;
  border: 1px solid transparent;
  color: white;
}
